
<div id="footer">
	<div class="container">
		<div class="social">
			{% for social in pages._meta.meta.social %}
				<a href="{{ social.url }}" title="{{ social.title }}" role="button">
					<span class="icon-{{ social.icon }}" aria-hidden="true"></span>
					<span class="sr-only">{{ social.title }}</span>
				</a>
			{% endfor %}
		</div>
		<p>&copy; {{ "now"|date("Y") }} Nonsense J.</p>
	</div>
</div>

<script src="{{ theme_url }}/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
<script src="{{ theme_url }}/js/utils.js" type="text/javascript"></script>
<script src="{{ theme_url }}/js/pico.js" type="text/javascript"></script>

</body>
</html>
